.entire_block_rating_number
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;

    
}
.notation_number

{
    background-color: hsl(213, 19%, 18%);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: #7C8798;
}

.notation_number:hover

{
    background-color: orange;
    transition-duration: 1s;
}

.selected

{
    background-color: orange;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: #7C8798;

}

.button_submit {
        background-color: #e87e09;
        color: white;
        font-family: 'Overpass', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 50px;
        width: 90%;
        height: 50px;
        cursor: pointer;


}

.notation_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}